# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.eggs/
build/
dist/

# Virtual environment
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# Environment variables
.env
*.env

# System files
.DS_Store
Thumbs.db
